body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/*HEADER*/

.header{
    display:flex;
    justify-content: space-around;
    background-color: #1F2937;
    padding: 0 30px;
}
.header-logo{
    color:white;
}

.header a{
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;  
    cursor: pointer;
}
.header-links{
    display: flex;
    gap:15px;
    list-style: none;
}

/*HERO*/

.hero{
    display:flex;
    justify-content: center;
    background-color: #1F2937;
    padding:80px 250px;
    gap:30px;
}

.hero h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    padding: 0;
    margin: 0;
}
.hero p{
    color: #E5E7EB;
    font-size: 18px;
}

.hero-image{
    width:500px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: white;
}

.hero-button{
    background-color: #3882F6;
    color:white;
    border-radius: 8px;
    padding: 5px 20px;
    border-color:#3882F6; 
    font-size: 16px;
    cursor: pointer;
}

/*INFO*/

.info{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:50px 150px;
}

.info-text{
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
}

/*QUOTE*/

.quote{
    display:flex;
    flex-direction: column;
    background-color: #E5E7EB;
    text-align: center;
    padding:20px 40px;
}

.quote-text{
    color: #1F2937;
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
}
.quote-author {
    font-weight: bold;
}

/*SIGNUP*/

.signup{
    display:flex;
    justify-content: center;
    padding: 20px 40px;
}

.signup-box{
    background-color: #3882F6;
    padding: 10px 20px;
    color:white;
    border-radius: 8px;
}

.signup-button{
    background-color: #3882F6;
    color: white;
    border-color: white;
    border-radius: 8px;
    padding: 5px 20px;
    font-size: 16px;
    cursor: pointer;
}

/*FOOTER*/

.footer{
    display:flex;
    justify-content: center;
    background-color: #1F2937;
    padding: 15px;
}

.footer p{
    color:white;
}
